{
    email {$ACME_EMAIL}
}
{$CATALOG_HOST} {
    request_body {
        max_size 2MB
    }
    reverse_proxy catalog:8000 {
        header_up -X-Participant-Id
        header_up -X-Participant-WebID
    }
}
{$PUBLISHER_HOST} {
    root * /srv/publisher
    encode zstd gzip
    try_files {path} /index.html
    file_server
}
